In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as num

In [2]:
df=pd.read_excel("C:\\Users\\New Pc\\Documents\\ex.17.xlsx",sheet_name="ex12")
df.head()

   SALES  PROFIT  IMPORT AND EXPORT COST
0   5097   36976                    1160
1   5405   43450                    1999
2   2129   42460                    1779
3   9855   45577                    1869
4   3149   37585                    2445

In [3]:
df.dtypes

SALES                     int64
PROFIT                    int64
IMPORT AND EXPORT COST    int64
dtype: object

In [4]:
df_1= df[['SALES','PROFIT']]
cor = df_1.corr()
print(cor.head())

          SALES   PROFIT
SALES   1.00000  0.04901
PROFIT  0.04901  1.00000

In [5]:
df.isnull().sum()

SALES                     0
PROFIT                    0
IMPORT AND EXPORT COST    0
dtype: int64

In [6]:
df.count()

SALES                     148
PROFIT                    148
IMPORT AND EXPORT COST    148
dtype: int64

In [7]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

In [8]:
profit=df['PROFIT'].values
cost=df['IMPORT AND EXPORT COST'].values
feat=num.column_stack((profit,cost))
model=KMeans(n_clusters=5,n_init=10)
model.fit(feat)
label = model.predict(feat)
cluster_centers = model.cluster_centers_
df['cluster']=label

In [ ]:
cluster_df = pd.DataFrame({
    'profit': df['PROFIT'],
    'cost': df['IMPORT AND EXPORT COST'],
    'Cluster': df['cluster']
})
print(cluster_df)

     profit  cost  Cluster
0     37506  2860        1
1     42781  2006        2
2     44955  1912        2
3     49594  1538        0
4     36553  1994        1
..      ...   ...      ...
143   40536  2983        4
144   43015  1339        2
145   33323  1236        3
146   46102  2357        2
147   31347  1402        3

[148 rows x 3 columns]