In [35]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as num

In [36]:
df=pd.read_excel("C:\\Users\\New Pc\\Documents\\EX.7.xlsx",sheet_name="Sheet2")
df.head()

        Name  Age Designation  HCRI  BARS
0   Jamarion   36     employe  0.78     4
1  Gabrielle   45  supervisor  0.71     3
2     Savion   33       staff  0.77     3
3     Trevin   40     manager  0.80     2
4     Hailie   33     employe  0.78     3

In [37]:
df.dtypes

Name            object
Age              int64
Designation     object
HCRI           float64
BARS             int64
dtype: object

In [38]:
df_1= df[['HCRI','BARS']]
cor = df_1.corr()
print(cor.head())

          HCRI      BARS
HCRI  1.000000 -0.152211
BARS -0.152211  1.000000

In [39]:
df.isnull().sum()

Name           0
Age            0
Designation    0
HCRI           0
BARS           0
dtype: int64

In [40]:
df.count()

Name           148
Age            148
Designation    148
HCRI           148
BARS           148
dtype: int64

In [41]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

In [42]:
profit=df['HCRI'].values
cost=df['Age'].values
feat=num.column_stack((profit,cost))
model=KMeans(n_clusters=5,n_init=10)
model.fit(feat)
label = model.predict(feat)
cluster_centers = model.cluster_centers_
df['cluster']=label

In [43]:
cluster_df = pd.DataFrame({
    'HCRI': df['HCRI'],
    'AGE': df['Age'],
    'Cluster': df['cluster']
})
print(cluster_df)

     HCRI  AGE  Cluster
0    0.78   36        2
1    0.71   45        1
2    0.77   33        2
3    0.80   40        4
4    0.78   33        2
..    ...  ...      ...
143  0.80   54        3
144  0.78   48        1
145  0.71   52        3
146  0.77   37        2
147  0.80   55        3

[148 rows x 3 columns]

In [44]:
profit=df['BARS'].values
cost=df['Age'].values
feat=num.column_stack((profit,cost))
model=KMeans(n_clusters=5,n_init=10)
model.fit(feat)
label = model.predict(feat)
cluster_centers = model.cluster_centers_
df['cluster']=label

In [45]:
cluster_df = pd.DataFrame({
    'BARS': df['BARS'],
    'AGE': df['Age'],
    'Cluster': df['cluster']
})
print(cluster_df)

     BARS  AGE  Cluster
0       4   36        3
1       3   45        1
2       3   33        3
3       2   40        4
4       3   33        3
..    ...  ...      ...
143     3   54        2
144     3   48        1
145     3   52        2
146     2   37        3
147     3   55        2

[148 rows x 3 columns]