In [106]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [107]:
df= pd.read_excel("D:\DCS\Sem 5\Human Resourse System Development Lab\Ex No 3.xlsx",sheet_name="Ex 19 Response",header=1)
df.head()

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Q11,Q12,Performance Satisfaction,Employee Satisfaction
0,5,5,4,2,2,2,3,3,5,1,3,1,4.2,8
1,2,4,4,4,1,2,1,2,5,1,4,5,4.5,6
2,3,1,5,5,1,3,2,5,3,1,1,5,4.0,7
3,2,5,1,2,2,2,1,5,2,4,2,3,4.8,9
4,5,4,2,2,5,1,3,3,4,4,4,1,4.3,5

In [108]:
df.dtypes

Q1                            int64
Q2                            int64
Q3                            int64
Q4                            int64
Q5                            int64
Q6                            int64
Q7                            int64
Q8                            int64
Q9                            int64
Q10                           int64
Q11                           int64
Q12                           int64
Performance Satisfaction    float64
Employee Satisfaction         int64
dtype: object

In [109]:
df_1=df[['Q4','Q5','Q6','Performance Satisfaction']]
cor = df_1.corr()
print(cor)

                                Q4        Q5        Q6  \
Q4                        1.000000 -0.130523 -0.066169
Q5                       -0.130523  1.000000  0.154370
Q6                       -0.066169  0.154370  1.000000
Performance Satisfaction -0.014865 -0.018160  0.009078

                          Performance Satisfaction
Q4                                       -0.014865
Q5                                       -0.018160
Q6                                        0.009078
Performance Satisfaction                  1.000000

In [110]:
df.isnull().sum()

Q1                          0
Q2                          0
Q3                          0
Q4                          0
Q5                          0
Q6                          0
Q7                          0
Q8                          0
Q9                          0
Q10                         0
Q11                         0
Q12                         0
Performance Satisfaction    0
Employee Satisfaction       0
dtype: int64

In [111]:
df.count()

Q1                          100
Q2                          100
Q3                          100
Q4                          100
Q5                          100
Q6                          100
Q7                          100
Q8                          100
Q9                          100
Q10                         100
Q11                         100
Q12                         100
Performance Satisfaction    100
Employee Satisfaction       100
dtype: int64

In [112]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

In [113]:
hcri=df[['Q1','Q2','Q3']].values
age=df['Employee Satisfaction'].values
feat=np.column_stack((hcri,age))
model=KMeans(n_clusters=5,n_init=10)
model.fit(feat)
label = model.predict(feat)
cluster_centers = model.cluster_centers_
df['Cluster'] = label

In [114]:
cluster_df = pd.DataFrame({
    'Q1': df['Q1'].values,
    'Q2': df['Q2'].values,
    'Q3': df['Q3'].values,
    'Employee Satisfaction': df['Employee Satisfaction'],
    'Cluster': df['Cluster']
})
print(cluster_df.head())

   Q1  Q2  Q3  Employee Satisfaction  Cluster
0   5   5   4                      8        0
1   2   4   4                      6        1
2   3   1   5                      7        2
3   2   5   1                      9        0
4   5   4   2                      5        4