In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [4]:
df= pd.read_excel("D:\DCS\Sem 5\Human Resourse System Development Lab\Ex No 3.xlsx",sheet_name="Ex 22 Response")
df.head()

   Unnamed: 0  Target Given (%)  Target Achieved (%)  Performance Rating
0         NaN                90                   85                   4
1         NaN                85                   88                   4
2         NaN                92                   90                   3
3         NaN                88                   92                   4
4         NaN                87                   84                   3

In [5]:
df.dtypes

Unnamed: 0             float64
Target Given (%)         int64
Target Achieved (%)      int64
Performance Rating       int64
dtype: object

In [6]:
df_1=df[['Target Given (%)','Target Achieved (%)']]
cor = df_1.corr()
print(cor)

                     Target Given (%)  Target Achieved (%)
Target Given (%)             1.000000             0.857807
Target Achieved (%)          0.857807             1.000000

In [7]:
df.isnull().sum()

Unnamed: 0             100
Target Given (%)         0
Target Achieved (%)      0
Performance Rating       0
dtype: int64

In [8]:
df.count()

Unnamed: 0               0
Target Given (%)       100
Target Achieved (%)    100
Performance Rating     100
dtype: int64

In [9]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

In [10]:
hcri=df['Target Achieved (%)'].values
age=df['Performance Rating'].values
feat=np.column_stack((hcri,age))
model=KMeans(n_clusters=5,n_init=10)
model.fit(feat)
label = model.predict(feat)
cluster_centers = model.cluster_centers_
df['Cluster'] = label

In [11]:
cluster_df = pd.DataFrame({
    'Target Achieved (%)': df['Target Achieved (%)'],
    'Performance Rating': df['Performance Rating'],
    'Cluster': df['Cluster']
})
print(cluster_df)

    Target Achieved (%)  Performance Rating  Cluster
0                    85                   4        2
1                    88                   4        3
2                    90                   3        0
3                    92                   4        0
4                    84                   3        2
..                  ...                 ...      ...
95                   85                   3        2
96                   95                   4        4
97                   87                   4        3
98                   88                   3        3
99                   85                   3        2

[100 rows x 3 columns]