In [13]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as num

In [14]:
df=pd.read_excel("C:\\Users\\New Pc\\Documents\\EX.17.xlsx",sheet_name="ex.15")
df.head()

,Cost involved in recruiting,Induction program cost,New hires performance satisfaction,Time to fill
0,3622,4819,1,41
1,2730,6994,3,46
2,3366,4986,4,49
3,1408,6456,3,30
4,1196,6007,1,25

In [15]:
df.dtypes

Cost involved in recruiting           int64
Induction program cost                int64
New hires performance satisfaction    int64
Time to fill                          int64
dtype: object

In [16]:
df_1= df[['New hires performance satisfaction','Time to fill']]
cor = df_1.corr()
print(cor.head())

                                    New hires performance satisfaction
New hires performance satisfaction                            1.000000  \
Time to fill                                                  0.138664

                                    Time to fill
New hires performance satisfaction      0.138664
Time to fill                            1.000000

In [17]:
df.isnull().sum()

Cost involved in recruiting           0
Induction program cost                0
New hires performance satisfaction    0
Time to fill                          0
dtype: int64

In [18]:
df.count()

Cost involved in recruiting           148
Induction program cost                148
New hires performance satisfaction    148
Time to fill                          148
dtype: int64

In [19]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

In [20]:
profit=df['New hires performance satisfaction'].values
cost=df['Induction program cost'].values
feat=num.column_stack((profit,cost))
model=KMeans(n_clusters=5,n_init=10)
model.fit(feat)
label = model.predict(feat)
cluster_centers = model.cluster_centers_
df['cluster']=label

In [21]:
cluster_df = pd.DataFrame({
    'New hires performance satisfaction': df['New hires performance satisfaction'],
    'Induction program cost': df['Induction program cost'],
    'Cluster': df['cluster']
})
print(cluster_df)

     New hires performance satisfaction  Induction program cost  Cluster
0                                     1                    4819        4
1                                     3                    6994        3
2                                     4                    4986        4
3                                     3                    6456        3
4                                     1                    6007        0
..                                  ...                     ...      ...
143                                   1                    4086        1
144                                   2                    5224        2
145                                   3                    6108        0
146                                   4                    4500        1
147                                   2                    6060        0

[148 rows x 3 columns]

In [22]:
profit=df['Cost involved in recruiting'].values
cost=df['Induction program cost'].values
feat=num.column_stack((profit,cost))
model=KMeans(n_clusters=5,n_init=10)
model.fit(feat)
label = model.predict(feat)
cluster_centers = model.cluster_centers_
df['cluster']=label

In [23]:
cluster_df = pd.DataFrame({
    'Cost involved in recruiting': df['Cost involved in recruiting'],
    'Induction program cost': df['Induction program cost'],
    'Cluster': df['cluster']
})
print(cluster_df)

     Cost involved in recruiting  Induction program cost  Cluster
0                           3622                    4819        0
1                           2730                    6994        2
2                           3366                    4986        0
3                           1408                    6456        1
4                           1196                    6007        1
..                           ...                     ...      ...
143                         2318                    4086        3
144                         4205                    5224        4
145                         3206                    6108        2
146                         4039                    4500        4
147                         2617                    6060        1

[148 rows x 3 columns]